
.bodyApp {
    height: calc(100vh - 120px);
    background-color: #EDEDE9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 35%;
}

.homeTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    
}

.homeTitle h3 {
    font-size: 40px; 
    padding: 5px;
    font-weight: normal;
    
}

.homeTitle h4 {
    color: #C29F8B
}

.inlineStarAndTitle {
    display: flex;
    align-items: center;
}