
.buttonHeaderStyle {
    display: flex;
    padding: 5px;
    font-size: 20px;
    border: transparent;
    background-color: transparent;
    transition: 1s;
}

.buttonHeaderStyle:hover {
    background-color: #E3D5CA;
    transition: 1s;
    border-radius: 7px;
}