
.headerContainer {
    height: 60px;
    background-color: #D5BDAF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
}

.buttonContainer{
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    width: 35%;
    align-items: center;
    text-decoration: none;
}

.buttonDivisor {
    font-size: 20px;
}

.logo{
    padding-left: 5px;
    font-weight: normal;
    font-size: 30px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}