
.listContainer {
    height: calc(100vh - 120px);
    background-color: #EDEDE9;
    display: flex;
    justify-content: center;
}

.titleList {
    background-color: #D5BDAF;
    height: 10%;
    width: 90%;
    margin: 10px;
    border-radius: 7px;
    padding: 4px;
}

.anotherCardInsideCard {
    align-items: center;
    background-color: #D5BDAF;
    border-radius: 7px;
    border: 4px dashed #F5EBE0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 90%;
    width: 99%;
}

.anotherCardInsideCard h3 {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #F5EBE0;
    font-size:30px;
    font-weight: normal;
}