
.footerContainer {
    height: 60px;
    background-color: #D5BDAF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
}

.iconFlower{
    margin: 0px 10px;
}